<%= form_with(model: @department, local: true) do |form| %>
<p>
	<%= form.label :name,class: "control-label required" %>
	<%= form.text_field :name ,class: "form-control"%>
	<span style="color:red;"><%= @department.errors[:name][0] rescue nil%></span>
</p>
<p>
	<%= form.submit class: 'btn btn-success', value: 'Create'%>
	<a href="javascript:history.back()">BACK</a>
</p>	
    
<%end%>